<!DOCTYPE html>
<html ng-app="firstModule" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try whit angular JS</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="firstController">
    <p>{{$parent.global}}</p>
    <section ng-hide="true">
        <div>
            <input type="text" ng-model="name">
            <select ng-model="quantity">
                <option value="" selected hidden>Selecciona</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button ng-click="repeat()">Load</button>
        </div>
        <p>{{"Comentario: " + name}}</p>
        <ul>
            <li ng-repeat="comment in commentaryArray">
                {{comment.title}}
            </li>
        </ul>
    </section>
    <section>
        <form ng-submit="addTask()">
            <input type="text" ng-model="task.description">
            <input type="datetime-local" ng-model="task.time">
            <button type="submit">Enviar</button>
        </form>
    </section>
    <br>
    <button ng-click="delete()">Eliminar</button>
    <hr>
    <ul>
        <li ng-repeat="task in todoList">
            <p>{{task.description | customFilter}} - {{task.time | date : 'short'}}</p>
        </li>
    </ul>
    <br>
    <hr>
    <button ng-click="bandera = !bandera" ng-class="{'red':bandera, 'green': !bandera}">Click me</button>
    <img ng-cloak ng-src="{{imageUrl}}" alt=""> <!-- ng-cloak oculta el elemento hasta que se cargue -->
    <div back-img="{{imageUrl}}" alt="">
    <p>Todo esto es muy complicado no se como vamos a hacer todo esto sin pruevas</p>
</body>

</html>